<h1>Dein Gothic-Charakter</h1>


<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().herkunft || '—' }}</div>
    <div class="field-label">Herkunft</div>
  </div>
  <div class="field">
    <div class="field-value">{{ characterData().fraktion || '—' }}</div>
    <div class="field-label">Fraktion / Gilde</div>
  </div>

  <div class="field">
    <div class="field-value">{{ characterData().alter || '—' }}</div>
    <div class="field-label">Alter</div>
  </div>
</div>
<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().staerke || '—' }}</div>
    <div class="field-label">Stärke</div>
  </div>

  <div class="field">
    <div class="field-value">{{ characterData().geschick || '—' }}</div>
    <div class="field-label">Geschick</div>
  </div>
</div>
<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().magiebegabung || '—' }}</div>
    <div class="field-label">Magiebegabung</div>
  </div>

  @if (sichtbarkeit().magiekreis) {
    <div class="field">
      <div class="field-value">{{ characterData().magiekreis || '—' }}</div>
      <div class="field-label">Magiekreis</div>
    </div>
  }

  @if (sichtbarkeit().lieblingszauber) {
    <div class="field">
      <div class="field-value">{{ characterData().lieblingszauber || '—' }}</div>
      <div class="field-label">Lieblingszauber</div>
    </div>
  }
</div>
<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().nahkampf || '—' }}</div>
    <div class="field-label">Nahkampf?</div>
  </div>

  @if (sichtbarkeit().nahkampfwaffe) {
    <div class="field">
      <div class="field-value">{{ characterData().nahkampfwaffe || '—' }}</div>
      <div class="field-label">Nahkampfwaffe</div>
    </div>
  }

  @if (sichtbarkeit().nahkampffertigkeit) {
    <div class="field">
      <div class="field-value">{{ characterData().nahkampffertigkeit || '—' }}</div>
      <div class="field-label">Nahkampffertigkeit</div>
    </div>
  }
</div>
<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().fernkampf || '—' }}</div>
    <div class="field-label">Fernkampf?</div>
  </div>

  @if (sichtbarkeit().fernkampfwaffe) {
    <div class="field">
      <div class="field-value">{{ characterData().fernkampfwaffe || '—' }}</div>
      <div class="field-label">Fernkampfwaffe</div>
    </div>
  }

  @if (sichtbarkeit().fernkampffertigkeit) {
    <div class="field">
      <div class="field-value">{{ characterData().fernkampffertigkeit || '—' }}</div>
      <div class="field-label">Fernkampffertigkeit</div>
    </div>
  }
</div>
<div class="grid-row">
  <div class="field">
    <div class="field-value">{{ characterData().goettergabe || '—' }}</div>
    <div class="field-label">Göttergabe</div>
  </div>

  @if (sichtbarkeit().gott) {
    <div class="field">
      <div class="field-value">{{ characterData().gott || '—' }}</div>
      <div class="field-label">Gott</div>
    </div>
  }

  @if (sichtbarkeit().adanossegen) {
    <div class="field">
      <div class="field-value">{{ characterData().adanossegen || '—' }}</div>
      <div class="field-label">Segen Adanos'</div>
    </div>
  }

  @if (sichtbarkeit().adanosfluch) {
    <div class="field">
      <div class="field-value" title="{{characterData().adanosfluch}}">{{ characterData().adanosfluch || '—' }}</div>
      <div class="field-label">Fluch Adanos'</div>
    </div>
  }

  @if (sichtbarkeit().innossegen) {
    <div class="field">
      <div class="field-value">{{ characterData().innossegen || '—' }}</div>
      <div class="field-label">Segen Innos'</div>
    </div>
  }

  @if (sichtbarkeit().innosfluch) {
    <div class="field">
      <div class="field-value">{{ characterData().innosfluch || '—' }}</div>
      <div class="field-label">Fluch Innos'</div>
    </div>
  }

  @if (sichtbarkeit().beliarsegen) {
    <div class="field">
      <div class="field-value">{{ characterData().beliarsegen || '—' }}</div>
      <div class="field-label">Segen Beliars'</div>
    </div>
  }

  @if (sichtbarkeit().beliarfluch) {
    <div class="field">
      <div class="field-value">{{ characterData().beliarfluch || '—' }}</div>
      <div class="field-label">Fluch Beliars'</div>
    </div>
  }
</div>
<div class="field field-wide">
  <div class="field-value">{{ characterData().mission || '—' }}</div>
  <div class="field-label">Mission / Ziel</div>
</div>
