<div class="ueberschrift-wrapper">
  <span class="ueberschrift">{{ segmentGruppe()!.name }}</span>
</div>

<div class="rad-wrapper">
  <div class="rad-idle-container" [class.idle]="idleDrehen()">

    <div class="rad-scheibe"
         [class.winner-flash]="highlightWinner()"
         [ngStyle]="{
           'background-image': gradient(),
           'transform': 'rotate(' + derzeitigerRotationsWinkel() + 'deg)'
         }">

      <div class="rad-labels">
        @for (wert of segmentGruppe()!.werte; track $index) {
          <div
            class="rad-label"
            [ngStyle]="labelContainerStyle($index)"
          >
            <div
              class="rad-label__inner">
              {{ wert }}
            </div>
          </div>
        }
      </div>
    </div>

  </div>
  @if (segmentGruppe()!.id === 'default') {
    <button class="starter starter--maske" type="button" (click)="start()">
      <img src="/images/schlaefer.png" alt="Start" class="starter-maske">
      <span class="starter-text">Starten</span>
    </button>
  } @else {
    <button class="starter" type="button" (click)="onDrehen()">
      Drehen
    </button>
  }
  <div class="zeiger"></div>
</div>
