.layout {
  display: flex;
  align-items: flex-start;
}

.layout__wheel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.wheel-buttons {
  display: flex;
  gap: 8rem;
}

.wheel-button-start {
  width: 20rem;
}


